<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic tac toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function setUpTable(){
            $('#table_wrapper').scrollLeft(($('#game_table').width() - $('#table_wrapper').width()) / 2);
            $('#table_wrapper').scrollTop(($('#game_table').height() - $('#table_wrapper').height()) / 2);
            for(let i=0;i<50;i++){
                let tr=document.createElement('tr');
                for(let j=0;j<50;j++){
                    let td=document.createElement('td');
                    td.setAttribute('y',i);
                    td.setAttribute('x',j);
                    tr.appendChild(td);
                }
                $('#game_table').append(tr);
                
            }
            drawElement(0,0,'o');
            $('#game_table').click(function (e) { //Offset mouse Position
            var posX = $(this).offset().left,
                posY = $(this).offset().top;
                x=Math.ceil((e.pageX - posX)/56)-1;
                y=Math.ceil((e.pageY - posY)/56)-1;
                drawElement(x,y,'o');
            });
        }

        function drawElement(x,y,type){
            img=document.createElement('img');
            img.src=(type=='x'?'images/tic.png':'images/tac.png');
            if($(`td[x=${x}][y=${y}]`).html()=='')$(`td[x=${x}][y=${y}]`).append(img);
            

        }
    </script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body onload="setUpTable()">
    <div id="table_wrapper">
        <table id="game_table">

        </table>
    </div>
</body>
</html>