<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic tac toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="http://localhost:3000//css/localgame.css" rel="stylesheet" type="text/css">
</head>
<body >
    <div id="table_wrapper">
        <table id="game_table">

        </table>
    </div>
    <div>
        <div>Ход <span id="turn">x</span></div>
        <div><span id='win'></span></div>
        <div><button onclick='window.location="./"'>quit</button></div>
    </div>
    {{#if localgame}}
        <script src="http://localhost:3000//js/localgame.js"></script>
    {{else if onlinegame}}
        <script src='http://localhost:3000//js/onlinegame.js'></script>
    {{/if}}
</body>
</html>