<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твой аккаунт</title>
</head>
<body>
    <div>username: {{username}}</div>
    <div>elo: {{elo}}</div>
    <div>Cоздать лобби</div>
    <div>Сыграть локально <button onclick="window.location='/local'">Играть</button></div>
    <div>Создать лобби <button onclick="window.location='/online/createNewLobby'">Новое лобби</button></div>
</body>
</html>